<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igeekhome.ccsv2.mapper.SessionMapper">
    <select id="select" resultType="com.igeekhome.ccsv2.entity.Session" parameterType="com.igeekhome.ccsv2.entity.Session">
        select * from session where customer_service_id = #{customerServiceId}
    </select>
</mapper>