<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igeekhome.ccsv2.mapper.VisitorInfoMapper">
    <insert id="insert" parameterType="VisitorInfo">
        insert into visitor_info(id,ip,visitor_name,terminal,browser,screen_size,device)
        values(#{id},#{ip},#{name},#{terminal},#{browser},#{screenSize},#{device})
    </insert>

    <select id="select" resultType="VisitorInfo" parameterType="VisitorInfo">
        SELECT
        visitor_name,terminal,browser,visit_duration,ip,visit_time
        FROM
        customer_service,
        visitor_info
        WHERE
        customer_service.customer_service_id = visitor_info.customer_service_id
        <if test="nickName != null">
            AND customer_service.nick_name = #{nickName}
        </if>
        <if test="browser != null">
            AND visitor_info.browser = #{browser}
        </if>
        <if test="terminal != null">
            AND visitor_info.terminal = #{terminal}
        </if>
        <if test="beginTime != null">
            AND visitor_info.visit_time >= #{beginTime}
        </if>
        <if test="endTime != null">
            AND  #{endTime} >= visitor_info.visit_time
        </if>
        <if test="visitorName != null">
            AND visitor_info.visitor_name LIKE CONCAT('%', '${visitorName}', '%')
        </if>
    </select>


    <select id="queryVisit" parameterType="VisitorInfo" resultType="VisitorInfo" ><!--访问统计-->
        select * from visit
    </select>

</mapper>