<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igeekhome.ccsv2.mapper.WorkOrderClassMapper">

    <select id="queryByName" parameterType="java.lang.String" resultType="WorkOrderClass">
        select * from work_order_class where
        <choose>
            <when test="name != null and name != ''">class_name like CONCAT('%','${name}','%' )</when>
            <otherwise>1 = 1</otherwise>
        </choose>
    </select>

    <insert id="createClass" parameterType="WorkOrderClass">
        insert into work_order_class(class_name) value (#{className})
    </insert>
    
    <delete id="deleteBatch" parameterType="List">
        delete from work_order_class where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>