<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igeekhome.ccsv2.mapper.WorkOrderMapper">

    <insert id="create" parameterType="WorkOrder">
        insert work_order(work_order_id,type,title,order_desc,cclist,priority,state,customer_service_id,customer_id)
        values (#{workOrderId},#{type},#{title},#{orderDesc},#{cclist},#{priority},#{state},#{customerServiceId},#{customerId})
    </insert>

    <select id="findId" resultType="java.util.HashMap">
        SELECT MAX(work_order_id) FROM work_order
    </select>


    <resultMap id="WorkOrderMap" type="WorkOrder">
        <result column="work_order_id" property="workOrderId"></result>
        <result column="title" property="title"></result>
        <result column="channel" property="channel"></result>
        <result column="state" property="state"></result>
        <result column="customer_real_name" property="customerRealName"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
        <result column="" property=""></result>
    </resultMap>

    <select id="select" parameterType="WorkOrder" resultType="WorkOrder">
        select work_order_id,title,channel,state,customer_real_name,update_time
        from c_cs_wo_group where 1=1
        <choose>
            <when test="state != null and state != ''">
                and state = #{state}
            </when>
            <when test="priority != null and priority != ''">
                and priority = #{priority}
            </when>
            <when test="type != null and type != ''">
                and type = #{type}
            </when>
            <when test="channel != null and channel != ''">
                and channel = #{channel}
            </when>
            <when test="groupName != null and groupName != ''">
                and group_name = #{groupName}
            </when>
            <when test="customerServiceName != null and customerServiceName != ''">
                and customer_service_name = #{customerServiceName}
            </when>
            <when test="customerRealName != null and customerRealName != ''">
                and customer_real_name = #{customerRealName}
            </when>
            <otherwise></otherwise>
        </choose>
    </select>

    <select id="selectByDate" resultType="WorkOrder">
        select work_order_id,title,channel,state,customer_real_name,update_time from c_cs_wo_group
        where create_time between #{begin} and #{end}
    </select>
</mapper>