<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igeekhome.ccsv2.mapper.WorkOrderMapper">
    <insert id="create" parameterType="WorkOrder">
        insert work_order(work_order_id,type,title,order_desc,attachments,cclist,priority,state,customer_service_group_id,customer_service_id,customer_id)
        values (#{workOrderId},#{type},#{title},#{orderDesc},#{attachments},#{cclist},#{priority},#{state},#{customerServiceGroupId},#{customerServiceId},#{customerId})
    </insert>
    <select id="findId" resultType="java.util.HashMap">
        SELECT MAX(work_order_id) FROM work_order
    </select>
</mapper>